.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.fade.in {
    opacity: 1;
}

.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%) !important;
    -ms-transform: translate(0, -25%) !important;
    -o-transform: translate(0, -25%) !important;
    transform: translate(0, -25%) !important;
    -webkit-transition: -webkit-transform 0.3s ease-out !important;
    -moz-transition: -moz-transform 0.3s ease-out !important;
    -o-transition: -o-transform 0.3s ease-out !important;
    transition: transform 0.3s ease-out !important;
}

@media (min-width: 769px) {
    .modal-dialog {
        width: 600px;
        margin-right: 30%;
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
    .modal-sm {
        width: 400px;
    }
}
@media (min-width: 1025px) {
    .modal-lg {
        width: 900px;
    }
}

.modal-dialog {
    position: relative;
    width: auto;
    margin-top: 30px;
    margin-left: 30%;
}

.modal-content {
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid transparent;
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
}

.modal-body {
    position: relative;
    padding: 20px;
}

.text-center {
    text-align: center;
}

h5, .h5 {
    font-size: 17px;
}

h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    color: inherit;
}

@media (min-width: 769px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: right;
    }
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-11 {
        width: 91.66666667%;
    }
    .col-sm-10 {
        width: 83.33333333%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-8 {
        width: 66.66666667%;
    }
    .col-sm-7 {
        width: 58.33333333%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-5 {
        width: 41.66666667%;
    }
    .col-sm-4 {
        width: 33.33333333%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-2 {
        width: 16.66666667%;
    }
    .col-sm-1 {
        width: 8.33333333%;
    }
    .col-sm-pull-12 {
        left: 100%;
    }
    .col-sm-pull-11 {
        left: 91.66666667%;
    }
    .col-sm-pull-10 {
        left: 83.33333333%;
    }
    .col-sm-pull-9 {
        left: 75%;
    }
    .col-sm-pull-8 {
        left: 66.66666667%;
    }
    .col-sm-pull-7 {
        left: 58.33333333%;
    }
    .col-sm-pull-6 {
        left: 50%;
    }
    .col-sm-pull-5 {
        left: 41.66666667%;
    }
    .col-sm-pull-4 {
        left: 33.33333333%;
    }
    .col-sm-pull-3 {
        left: 25%;
    }
    .col-sm-pull-2 {
        left: 16.66666667%;
    }
    .col-sm-pull-1 {
        left: 8.33333333%;
    }
    .col-sm-pull-0 {
        left: auto;
    }
    .col-sm-push-12 {
        right: 100%;
    }
    .col-sm-push-11 {
        right: 91.66666667%;
    }
    .col-sm-push-10 {
        right: 83.33333333%;
    }
    .col-sm-push-9 {
        right: 75%;
    }
    .col-sm-push-8 {
        right: 66.66666667%;
    }
    .col-sm-push-7 {
        right: 58.33333333%;
    }
    .col-sm-push-6 {
        right: 50%;
    }
    .col-sm-push-5 {
        right: 41.66666667%;
    }
    .col-sm-push-4 {
        right: 33.33333333%;
    }
    .col-sm-push-3 {
        right: 25%;
    }
    .col-sm-push-2 {
        right: 16.66666667%;
    }
    .col-sm-push-1 {
        right: 8.33333333%;
    }
    .col-sm-push-0 {
        right: auto;
    }
    .col-sm-offset-12 {
        margin-right: 100%;
    }
    .col-sm-offset-11 {
        margin-right: 91.66666667%;
    }
    .col-sm-offset-10 {
        margin-right: 83.33333333%;
    }
    .col-sm-offset-9 {
        margin-right: 75%;
    }
    .col-sm-offset-8 {
        margin-right: 66.66666667%;
    }
    .col-sm-offset-7 {
        margin-right: 58.33333333%;
    }
    .col-sm-offset-6 {
        margin-right: 50%;
    }
    .col-sm-offset-5 {
        margin-right: 41.66666667%;
    }
    .col-sm-offset-4 {
        margin-right: 33.33333333%;
    }
    .col-sm-offset-3 {
        margin-right: 25%;
    }
    .col-sm-offset-2 {
        margin-right: 16.66666667%;
    }
    .col-sm-offset-1 {
        margin-right: 8.33333333%;
    }
    .col-sm-offset-0 {
        margin-right: 0;
    }
}
@media (min-width: 1025px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: right;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }
    .col-md-pull-12 {
        left: 100%;
    }
    .col-md-pull-11 {
        left: 91.66666667%;
    }
    .col-md-pull-10 {
        left: 83.33333333%;
    }
    .col-md-pull-9 {
        left: 75%;
    }
    .col-md-pull-8 {
        left: 66.66666667%;
    }
    .col-md-pull-7 {
        left: 58.33333333%;
    }
    .col-md-pull-6 {
        left: 50%;
    }
    .col-md-pull-5 {
        left: 41.66666667%;
    }
    .col-md-pull-4 {
        left: 33.33333333%;
    }
    .col-md-pull-3 {
        left: 25%;
    }
    .col-md-pull-2 {
        left: 16.66666667%;
    }
    .col-md-pull-1 {
        left: 8.33333333%;
    }
    .col-md-pull-0 {
        left: auto;
    }
    .col-md-push-12 {
        right: 100%;
    }
    .col-md-push-11 {
        right: 91.66666667%;
    }
    .col-md-push-10 {
        right: 83.33333333%;
    }
    .col-md-push-9 {
        right: 75%;
    }
    .col-md-push-8 {
        right: 66.66666667%;
    }
    .col-md-push-7 {
        right: 58.33333333%;
    }
    .col-md-push-6 {
        right: 50%;
    }
    .col-md-push-5 {
        right: 41.66666667%;
    }
    .col-md-push-4 {
        right: 33.33333333%;
    }
    .col-md-push-3 {
        right: 25%;
    }
    .col-md-push-2 {
        right: 16.66666667%;
    }
    .col-md-push-1 {
        right: 8.33333333%;
    }
    .col-md-push-0 {
        right: auto;
    }
    .col-md-offset-12 {
        margin-right: 100%;
    }
    .col-md-offset-11 {
        margin-right: 91.66666667%;
    }
    .col-md-offset-10 {
        margin-right: 83.33333333%;
    }
    .col-md-offset-9 {
        margin-right: 75%;
    }
    .col-md-offset-8 {
        margin-right: 66.66666667%;
    }
    .col-md-offset-7 {
        margin-right: 58.33333333%;
    }
    .col-md-offset-6 {
        margin-right: 50%;
    }
    .col-md-offset-5 {
        margin-right: 41.66666667%;
    }
    .col-md-offset-4 {
        margin-right: 33.33333333%;
    }
    .col-md-offset-3 {
        margin-right: 25%;
    }
    .col-md-offset-2 {
        margin-right: 16.66666667%;
    }
    .col-md-offset-1 {
        margin-right: 8.33333333%;
    }
    .col-md-offset-0 {
        margin-right: 0;
    }
}
@media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: right;
    }
    .col-lg-12 {
        width: 100%;
    }
    .col-lg-11 {
        width: 91.66666667%;
    }
    .col-lg-10 {
        width: 83.33333333%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-8 {
        width: 66.66666667%;
    }
    .col-lg-7 {
        width: 58.33333333%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-5 {
        width: 41.66666667%;
    }
    .col-lg-4 {
        width: 33.33333333%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-2 {
        width: 16.66666667%;
    }
    .col-lg-1 {
        width: 8.33333333%;
    }
    .col-lg-pull-12 {
        left: 100%;
    }
    .col-lg-pull-11 {
        left: 91.66666667%;
    }
    .col-lg-pull-10 {
        left: 83.33333333%;
    }
    .col-lg-pull-9 {
        left: 75%;
    }
    .col-lg-pull-8 {
        left: 66.66666667%;
    }
    .col-lg-pull-7 {
        left: 58.33333333%;
    }
    .col-lg-pull-6 {
        left: 50%;
    }
    .col-lg-pull-5 {
        left: 41.66666667%;
    }
    .col-lg-pull-4 {
        left: 33.33333333%;
    }
    .col-lg-pull-3 {
        left: 25%;
    }
    .col-lg-pull-2 {
        left: 16.66666667%;
    }
    .col-lg-pull-1 {
        left: 8.33333333%;
    }
    .col-lg-pull-0 {
        left: auto;
    }
    .col-lg-push-12 {
        right: 100%;
    }
    .col-lg-push-11 {
        right: 91.66666667%;
    }
    .col-lg-push-10 {
        right: 83.33333333%;
    }
    .col-lg-push-9 {
        right: 75%;
    }
    .col-lg-push-8 {
        right: 66.66666667%;
    }
    .col-lg-push-7 {
        right: 58.33333333%;
    }
    .col-lg-push-6 {
        right: 50%;
    }
    .col-lg-push-5 {
        right: 41.66666667%;
    }
    .col-lg-push-4 {
        right: 33.33333333%;
    }
    .col-lg-push-3 {
        right: 25%;
    }
    .col-lg-push-2 {
        right: 16.66666667%;
    }
    .col-lg-push-1 {
        right: 8.33333333%;
    }
    .col-lg-push-0 {
        right: auto;
    }
    .col-lg-offset-12 {
        margin-right: 100%;
    }
    .col-lg-offset-11 {
        margin-right: 91.66666667%;
    }
    .col-lg-offset-10 {
        margin-right: 83.33333333%;
    }
    .col-lg-offset-9 {
        margin-right: 75%;
    }
    .col-lg-offset-8 {
        margin-right: 66.66666667%;
    }
    .col-lg-offset-7 {
        margin-right: 58.33333333%;
    }
    .col-lg-offset-6 {
        margin-right: 50%;
    }
    .col-lg-offset-5 {
        margin-right: 41.66666667%;
    }
    .col-lg-offset-4 {
        margin-right: 33.33333333%;
    }
    .col-lg-offset-3 {
        margin-right: 25%;
    }
    .col-lg-offset-2 {
        margin-right: 16.66666667%;
    }
    .col-lg-offset-1 {
        margin-right: 8.33333333%;
    }
    .col-lg-offset-0 {
        margin-right: 0;
    }
}

a {
    color: #1E88E5;
    text-decoration: none;
}

a {
    background-color: transparent;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 7px 12px;
    font-size: 13px;
    line-height: 1.5384616;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button, select {
    text-transform: none;
}

button {
    overflow: visible;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0) !important;
    -ms-transform: translate(0, 0) !important;
    -o-transform: translate(0, 0) !important;
    transform: translate(0, 0) !important;
}

.form-control {
    display: block;
    width: 100%;
    height: 36px !important;
    padding: 7px 12px;
    font-size: 13px;
    line-height: 1.5384616;
    color: #333333;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    pointer-events: none;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

.modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}

.content-group {
    margin-bottom: 20px !important;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #999999;
}

.display-block, label.display-block {
    display: block;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
    font-size: 13px;
    display: inline-block;
}

.login-container .nav-tabs.nav-justified {
    margin-bottom: 0;
}

.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}

.nav-justified {
    width: 100%;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}

@media (min-width: 769px) {
    .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }
}

.nav-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 3px;
}

.nav-tabs.nav-justified > li {
    float: none;
}

.nav-tabs.nav-justified > li > a {
    text-align: center;
    margin-bottom: 5px;
}

@media (min-width: 769px) {
    .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 3px 3px 0 0;
    }
    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #fff;
    }
}

.nav-justified > li {
    float: none;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.nav > li {
    position: relative;
    display: block;
}

.login-container .nav-tabs.nav-justified > li.active > a {
    background-color: transparent;
}

.login-container .nav-tabs.nav-justified > li:first-child > a {
    border-right: 0;
    border-radius: 0 3px 0 0;
}

.login-container .nav-tabs.nav-justified > li > a {
    border-top: 0!important;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f5f5f5;
}

@media (min-width: 769px) {
    .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }
}
.nav-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 3px;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #ddd;
}
@media (min-width: 769px) {
    .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 3px 3px 0 0;
    }
    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #fff;
    }
}

.nav-tabs.nav-justified > li > a {
    text-align: center;
    margin-bottom: 5px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #333333;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.5384616;
    border: 1px solid transparent;
    border-radius: 3px 3px 0 0;
}

.nav-justified > li > a {
    text-align: center;
    margin-bottom: 5px;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 9px 15px;
}

a {
    text-decoration: none;
}

a {
    background-color: transparent;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    letter-spacing: -0.015em;
}

h6, .h6 {
    font-size: 15px;
}

h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    color: inherit;
}

.position-left {
    margin-left: 7px;
}

.login-container .nav-tabs.nav-justified > li:last-child > a {
    border-left: 0;
    border-radius: 3px 0 0 0;
}

.login-container .nav-tabs.nav-justified > li > a {
    border-top: 0!important;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f5f5f5;
}

.nav-tabs.nav-justified > li > a {
    border-radius: 0;
    margin-bottom: 0;
}